<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-4 columns">
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <div class="field">
        <%= f.label :body %><br>
        <%= f.text_area :body %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <div class="actions">
        <%= f.submit "Aceptar", :class => "button small" %>
      </div>
    </div>
  </div>
<% end %>
