<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1>Formatos</h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class="has-dropdown not-click">
				<a href="#">Menú</a>
				<ul class="dropdown">
					<li class="parent-link-show-for-small-only"><a class="parent-link-js-generated" href="#"></a>
					<li>
						<label>Posts</label>
					</li>
					<li><%= link_to 'Mostrar',controller: '/posts',action: 'index' %></li>
					<li><%= link_to 'Nuevo',controller: '/posts',action: 'new' %></li>
				</ul>
			</li>
		</ul>
	</section>
</nav>