<p>
  <strong>Titulo:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div id="comments">
  <%= render :partial => @post.comments.reverse %>
</div>

<%= form_for([@post, Comment.new], remote: true) do |f| %>
  <p>
    <%= f.label :body, "Nuevo comentario" %>
    <br>
    <%= f.text_area :body %>
  </p>
  <p>
  	<%= f.submit "Agregar" %>
  </p>
<% end %>