html, body
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #EEE;
}

table
{
	width: 500px;
	background-color: #FFF;
	border: 1px solid #CCC;
	margin: 20px auto;
	padding: 20px;
	border-radius: 3px;
}