<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render "posts/navigation" %>

		<% if notice %> 
			<p class="alert alert-success"><%= notice %></p> <% end %> 
		<% if alert %> 
			<p class="alert alert-danger"><%= alert %></p> 
		<% end %>

		<div class="row">
			<% flash.each do |name, msg| %>
				<% if msg.is_a?(String) %>
					<%= content_tag :div, msg, class: "alert-box #{name} radius" %>
				<% end %>
			<% end %>
		</div>

		<%= yield %>
	</body>
</html>